@import "./global.css";
@import "_root.css";

.frame-nav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: var(--frame-nav-width);
  height: 100vh;
  background-color: var(--frame-nav-background-color);
}

.systemLogo {
  width: calc(var(--frame-nav-width) - 8px);
  max-height: 20vh;
  margin: 4px;
}
.appMenu {
  width: var(--frame-nav-width);
}
.appMenu svg {
  width: var(--frame-nav-icon-width);
  height: var(--frame-nav-icon-width);
}
.appMenu .ant-menu-item {
  padding: 0 calc(50% - var(--frame-nav-icon-width) / 2);
  height: calc(var(--frame-nav-icon-width) * 2);
}
.appMenu .ant-menu-item .ant-menu-item-icon {
  line-height: calc(var(--frame-nav-icon-width) * 2.5);
}

.appMenu .NavAvatar .ant-menu-submenu-title {
  padding: 0 calc(var(--frame-nav-width) / 4);
}
/* 左侧应用布局 */
.frame-nav-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: calc(var(--frame-nav-width) + 8px) auto calc(
      var(--frame-nav-icon-width) * 6
    ) calc(var(--frame-nav-icon-width) / 3);
  grid-template-areas:
    "systemLogo"
    "appMenu"
    "navTools";
}

.layout-content {
  padding-left: var(--frame-nav-width);
  min-height: 100vh;
}
